*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(239, 239, 240);
}

.wrap{
    width: 90%;
    margin: 5vh auto 0;
    font-family: 'Bradley Hand', cursive;
}

h1{
    text-shadow: 3px 4px 3px #ccc4c4, 1px 1px 3px #32326e;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h2{
    text-shadow: 3px 4px 3px #ccc4c4, 1px 1px 3px #32326e;
    text-align: center;
}

.previousMonth, .nextMonth{
    margin: 8px;
    width: 30px;
}

.nameDays{
    float: left;
    width: 75%;
    margin-bottom: 3vh;
}

#days{
    float: left;
    height: 4vh;
    width: 13%;
    flex-grow: 1;
    margin: 3px;
    text-align: center;
    color: rgb(61, 25, 129);
    border: 3px solid rgb(66, 110, 8);
    background-color: beige;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-size: 24px;
    overflow: auto;
}

.calendar{
    float: left;
    width: 75%;
    margin-bottom: 3vh;
}

.calendar div{
    float: left;
    height: 15vh;
    width: 13%;
    margin: 3px;
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 24px;
    list-style-type: none;  
    overflow: auto;  
    color:rgb(0, 0, 0);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: bisque;
}

.calendar button{
    padding: 2px 4px;
    border: 1px solid black;
    background-color: rgb(227, 223, 235);
    cursor: pointer;
}

.day span{
    float: left;
    text-align: center;
    width: 100%;
    background-color: rgb(76, 76, 231);
}

.day ul>li{
    width: 95%;
    padding: 4px;
    overflow: auto;
}

.management{
    float: left;
    width: 23%;
    margin-left: 15px;
    color:rgb(32, 32, 30);
    background-color: azure;
    text-shadow: rgb(146, 185, 192) 2px 0 8px;
}

.management .informationBox{
    float: left;
    height: 10%;
   
    width: 100%;
    border: 3px solid gray;
    border-radius: 10px;
}

.informationBox h2{
    padding: 10px;
    background-color: rgb(182, 176, 178);;
    font-size: 28px;
}

.management .savedEvent {
    float: left;
    height: 7%;
    text-align: center;
    width: 100%;
    background-color: pink;
    font-size: 24px;
}

.management ul {
    text-align: center;
    width: 100%;
    font-size: 24px;
    list-style-type: none;
}

.management p{
    display: inline-block;
}

.management span{ 
   display: block;
}

.management button{
    margin-top: 2px;
    padding: 5px 8px;
    border: 2px solid black;
    background-color: rgb(227, 223, 235);
    cursor: pointer;
}

input[type=text], select{
    margin: 4px 0;
    display: inline-block;
    border: 4x solid rgb(217, 240, 163);
    border-radius: 5px;
    box-sizing: border-box;
  }

.event{
    height: 180px;
    width: 100%;
    background-color: rgb(218, 183, 127);
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 3vh;
    float: center;
    overflow: auto;
}

.event h2{
    font-size: 26px;
    text-shadow: 1px 1px 1px #ccc4c4, 1px 1px 1px #32326e;
    overflow: auto;
}

.event label{
    margin-left: 7px;
    margin-top: 5px;
    float: left;
    clear: left;
    color:rgb(0, 0, 0);
    font-size: 20px;
    overflow: auto;
}

#day, .event input{
    float: left;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 11px;
}

.event button{
    margin-top: 5px;
    margin-right: 2%;
    float: right;
    clear: left;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: rgb(227, 223, 235);
    cursor: pointer;
}

.event button:hover, .description button:hover, .management button:hover, .calendar button:hover{
    background: #324c61;
    color: white;
  }

.management .listEvent{
    background-color: rgb(238, 212, 212);
    height: 40vh;
    overflow: auto;
}

.management .descriptionSavedEvent{
    background-color: rgb(184, 149, 149);
    height: 14vh;
    overflow: auto;
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.description{
    float: left;
    font-size: 25px;
    width: 75%;
    height: 300px;
    margin-bottom: 3vh;
    color:rgb(32, 32, 30);
    text-shadow: rgb(146, 185, 192) 2px 0 8px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(159, 169, 189);
    padding: 20px;
}

.description .nameEvent, .description .nrEvent, .description .numberDay, .description .addDescription{
    float: left;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgb(235, 225, 225);
    margin-bottom: 8px;
}

.description .descriptionEvent{
    float: left;
    clear: left;
    height: 130px; 
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgb(240, 236, 237);
    margin-bottom: 12px;
    overflow: auto;
}

.description textarea{
    font-size: 25px; 
}

.description p{ 
    display: inline-block;
}

.description span{
    padding: 15px;
}

.description .addDescription{
    width: 100%;
    height: 55px;
}

.description button{
    margin-top: 5px;
    margin-right: 1%;
    float: right;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: rgb(227, 223, 235);
    cursor: pointer;
}