* {
	padding:0px;
	margin:0 0 0 0;
}

body{

	background-image: url("tlo/tlo.png");
	margin:0 60px 0 60px;
}
html {
	width:100%;
	height:100%;
}

a:link, a:visited {
	background-color: #CD5C5C;
	color: white;
	padding: 10px 15px;
	text-align: center;
	display: inline-block;
	text-decoration: none;

}

a:hover, a:active {
	background-color: darkblue;
}
 
header h1{
	background-image: linear-gradient(black, darkblue);
	width: 100%;
	height: 30px;
	color: red;
	text-align: center;
	font-size: 150%;
	font-family: 'Copperplate Gothic Light';
	font-style: oblique;
}


.pasek_menu {
	overflow: hidden;
	background-color: #CD5C5C;
}

.pasek_menu a {
	background-color: #CD5C5C;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	font-size: 22px;
	font-weight: 700;
}

.pasek_menu a:hover {
	background-color: #F0FFF0;
	color: red;
}

.pasek_menu a.active {
	background-color: #4CAF50;
	color: white;
}

.pasek_menu .icon {
	display: none;
}

@media screen and (max-width: 900px) {
    .pasek_menu a:not(:first-child) {display: none;}
    .pasek_menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .pasek_menu.responsive {
	  position: relative;
	}
  .pasek_menu.responsive .icon {
    position: absolute;
  }
  .pasek_menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

main{
	background-color: white;
	width: 100%;
}

#artykuly{

	background-color: white;
	display: block;
	margin-left: 20%;
	margin-right: auto;
}

#okladki{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#left{
	width: 50%;
	height: 620px;
	float: left;
	overflow: hidden;
	background-color: white;

}

#right{
	width: 50%;
	height: 620px;
	float: right;
	overflow: hidden;
	background-color: white;
	margin-right: auto;
}

#comments, #addComments{
	background-color: white;
	margin-left: 30%;
}

#logowanie, #rejestracja, #panel_uzytkownika{
	background-color: white;
	margin-left: 30%;
	padding: 30px;
	
}
#galeria{
	background-color: white;
	margin-left: 4%;
}

#galeria_zdjecia{
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 15px;
	width: 29%;
	height: 300px;
}

#galeria_zdjecia:hover{
	float: center;
	width: 33%;

}

footer{
	clear: both;
	background-color: grey;
	height: 100px;
	width: 100%;
}

.fa {
	float:right;
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

